Package: ssdcoin-blockchain-cli
Version: {{ SSDCOIN_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: SSDCoin Network Inc <hello@ssdcoin.top>
Description: SSDCoin Blockchain
 SSDCoin is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
