[Unit]
Description=SSDCoin Data Layer HTTP Service for %i
Requires=ssdcoin-daemon@%i.service
After=ssdcoin-daemon@%i.service

[Service]
Type=simple
Environment=SSDCOIN_ROOT=/home/%i/.ssd/mainnet
ExecStart=/opt/ssdcoin/ssdcoin_data_layer_http
User=%i
Group=%i
LimitNOFILE=1048576
LimitNPROC=1048576
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
